/* condensed CSS reset page into single universal selection on style.css
:root {
    --
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #10ad4c;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053f29;
    color: #ffffff;
    padding: 5px;
}

h1 {
    white-space: nowrap;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 10px;
}

h2 {
    font-size: 2.5rem;
    padding: 15px;
}

nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    justify-content: flex-end;
}

nav a {
    margin-left: 30px;
    font-size: 2.5rem;
    white-space: nowrap;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

section p {
    font-size: 40px;
    padding: 10px;
}

#projects {
    display: flex;
    flex-direction: row;
}

#work {
    display: flex;
    flex-direction: column;
}

#profile-photo {
    height: auto;
    max-width: 40%;
}

#horiseon-content {
    display: flex;
    flex-direction: row;
}

#contact-info div a,
span {
    font-size: 20px;
    margin: 10px;
}

article {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
}

.project-image {
    height: auto;
    width: 50%;
}

.project-image-large {
    height: auto;
    width: 100%;
}

/* TODO: finish media query */
@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }

    #projects {
        flex-direction: column;
    }

    nav a {
        margin: 4px;
    }

    nav {
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    #horiseon-content {
        flex-direction: column;
    }
}